<app-header></app-header>
<h1>О нас</h1>
<div class="about">
  <div class="hi">
    <h4>Приветсвуем вас на сайте Читательская мастерская</h4>
    <p>Сайт предназначен для любителей книг, а также для начинающих авторов,</p>
    <p>которые хотят поделиться своими произведениями, получить их оценку от читателей</p>
  </div>
  <div class="pros">
    <p>Читатели, которые любят не только читать, но и обсуждать книги могут не тратить время на то, чтобы встретиться в жизни.</p>
    <p>Теперь они смогут поделиться своими мыслями в сети в любом месте и в любое время.</p>
  </div>
  <div class="pros2">
    <p>Также многие смогут найти новых онлайн-друзей, которые будут разделять их интересы и смогут получить необходимую поддержку от новых знакомых.</p>

  </div>
</div>
<div class="con">
  <p><i>По всем вопросам, связанными с содержанием сайта, а также идеями по развитию обрщайтесь к администратору сайта:</i></p>
  <p><b>Aeskatery: bridnyakatya@icloud.com</b></p>
</div>
