<app-header></app-header>
<!--<div *ngFor="bookD as bo">-->
<!--  <img class="preview" [src]="bookD.img" alt="">-->
<!--  <div><span>Название книги: </span>{{bookD.title}}</div>-->
<!--  <div><span>Автор: </span>{{bookD.nickName}}</div>-->
<!--  <div><span>О чем книга: </span>{{bookD.description}}</div>-->
<!--</div>-->
<button class="button_add_1" (click)="addBookToBookmarksUser()">Добавить в "Закладки"</button>
<button class="button_add_2" (click)="addBookToFavoritesUser()">Добавить в "Избранное"</button>
