.button_cabinet {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  height: 30px;
  background-color: #7fa190;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
}

.button_cabinet:hover {
  color: black;
}
