<app-header></app-header>
<div class="books" *ngFor="let book of books">
  <i> {{book.nickName}} </i>
  <a routerLink="{{book.id}}"> <h3> {{book.title}} </h3></a>
  <p>Краткое описание: {{book.description}}</p>
  <img [src]="book.img" alt="Картинка недоступна">

  <hr>
</div>

<!--<div-->
<!--  *ngIf="booksDb | async as booksB, else loading"-->
<!--  class="books">-->
<!--  <div class="books" *ngFor="let book of booksB">-->
<!--    <i> {{book.nickName}} </i>-->
<!--&lt;!&ndash;    <a routerLink="{{book.id}}"> <h3> {{book.title}} </h3></a>&ndash;&gt;-->
<!--    <p>Краткое описание: {{book.description}}</p>-->
<!--    <img [src]="book.img" alt="Картинка недоступна">-->

<!--    <hr>-->
<!--  </div>-->
<!--</div>-->

<!--<ng-template #loading>-->
<!--  <p class="text-bg-info">Загрузка книг</p>-->
<!--</ng-template>-->

