<app-header></app-header>
<form (ngSubmit)="addBook()" #form="ngForm">
  <div class="add_field">
    <input
      type="text"
      id="nickName"
      class="form-control"
      name="nickName"
      placeholder="Автор"
      [(ngModel)]="BookDto.nickName"
      required
      #nickName="ngModel"
    >
  </div>
  <div class="add_field">
    <input
      type="text"
      id="title"
      class="form-control"
      name="title"
      placeholder="Название"
      [(ngModel)]="BookDto.title"
      required
      #title="ngModel"
    >
  </div>
  <div class="add_field">
    <input
      type="text"
      id="img"
      class="form-control"
      name="img"
      placeholder="Обложка"
      [(ngModel)]="BookDto.img"
      required
      #img="ngModel"
    >
  </div>
  <div class="add_field">
    <textarea
      type="text"
      id="description"
      class="form-control"
      name="description"
      placeholder="Описание"
      [(ngModel)]="BookDto.description"
      required
      #description="ngModel"
    >
    </textarea>
  </div>
  <button
    class="w-100 btn btn-lg btn-primary button"
    type="submit"
    [disabled]="!form.form.valid"
  >
    Добавить
  </button>

<!--  <div class="add_field">-->
<!--    <input type="file" oi-file="options">-->
<!--    <label for="title" class="form-label">Добавить файл</label>-->
<!--  </div>-->
</form>
