<app-header></app-header>
<img
  class="h200"
  [src]="imagePreview"
  *ngIf="imagePreview"
  alt="Обложка"
>
<form (ngSubmit)="addBook()" #form="ngForm">
  <div class="add_field">

    <input
      type="text"
      id="nickName"
      class="form-control"
      name="nickName"
      placeholder="Автор"
      [(ngModel)]="BookDto.nickName"
      required
      #nickName="ngModel"
    >
  </div>
  <div class="add_field">
    <input
      type="text"
      id="title"
      class="form-control"
      name="title"
      placeholder="Название"
      [(ngModel)]="BookDto.title"
      required
      #title="ngModel"
    >
  </div>
  <div class="add_field">

    <input
      type="file"
      class="img-custom"
      (change)="onFileUpload($event)"
      #upload
    >
    <button
    (click)="triggerClick()"
    [disabled]="!isLoggedIn || title.value === ''"
    type="button"
    class="w-100 btn btn-lg btn-primary button"
    >Загрузить обложку</button>
  </div>
  <div class="add_field">
    <textarea
      type="text"
      id="description"
      class="form-control"
      name="description"
      placeholder="Описание"
      [(ngModel)]="BookDto.description"
      required
      #description="ngModel"
    >
    </textarea>
  </div>

  <div class="add_field">
    <input
    type="file"
    class="img-custom"
    (change)="onFileUploadText($event)"
    #uploadText
    >
    <button
    (click)="triggerClickText()"
    type="button"
    class="w-100 btn btn-lg btn-primary button"
    >Загрузить текстовый файл</button>
  </div>
  <div class="add_field">
    <button
      class="w-100 btn btn-lg btn-primary button"
      type="submit"
      [disabled]="!isLoggedIn"
    >
      Добавить
    </button>
    <div class="alert alert-danger" *ngIf="!isLoggedIn">
      Для добавления книги войдите в систему
    </div>
  </div>
</form>

