<app-header></app-header>
<div class="contanier">
    <form (ngSubmit)="submitLogin()" #form="ngForm">
        <div>
            <input
            type="email"
            id="email"
            class="form-control"
            name="email"
            placeholder="email@email.ru"
            [(ngModel)]="userDto.email"
            required="email"
            #email="ngModel"
            >
            <label for="email" class="form-label">Адрес электроной почты</label>
            <div *ngIf="(email.invalid && email.touched) || email.dirty">
                <div class="alert alert-warning" *ngIf="email.errors?.['required']">
                  Email обязательно
                </div>
                <div class="alert alert-warning" *ngIf="email.errors?.['email']">
                  Email некоректно введен
                </div>
            </div>
        </div>
        <div>
            <input
              type="password"
              id="password"
              class="form-control"
              name="password"
              [(ngModel)]="userDto.password"
              required
              #password="ngModel"
            >
            <label for="password" class="form-label">Пароль</label>

            <div *ngIf="(password.invalid && password.touched) || password.dirty">
              <div class="alert alert-warning" *ngIf="password.errors?.['required']">
                 Пароль обязательно
              </div>
              <div class="alert alert-warning" *ngIf="password.errors?.['minlength']">
                Минимум 10 символов
              </div>
            </div>
        </div>
        <button
        type="submit"
        [disabled]="!form.form.valid"

        *ngIf="!isLoggedIn; else loggedIn"
      >
        Авторизация
      </button>
      <ng-template #loggedIn>
        <button type="button" class="btn btn-danger" (click)="logout()">Выйти</button>
      </ng-template>
    </form>
</div>
